.header {
  background-color: transparent; 
  color: #000; 
  transition: background-color 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  margin-top: 0;
  margin-bottom: 10px;
  /* padding-bottom: 20px; */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.header-main {
  align-items: center;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 2rem; 
  justify-content: center;
  padding: 0;
}

.menu-link {
  text-decoration: none;
  color: inherit; 
  font-size: 1em;
  font-weight: 600;
}

.logo-wrapper img {
  height: 55px; 
  width: 55px; 
}

.contact-us-button .button {
  background-color: #00ACEF; 
  color: white;
  padding: 0.05rem 5rem;
  min-height:32px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.1em;
}

.header-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.phone {
  display: block;
  color: #000;
  text-align: center;
  font-weight: bold;
  margin-right: 20px;
}

.header .header-container {
  justify-content: space-between; 
}

.header.scrolled .header-contact {
  align-items: center; 
}

.header.scrolled {
  background-color: #000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.header.scrolled .menu-link,
.header.scrolled .phone {
  color: #fff;
}

.header.scrolled .logo-wrapper img {
  content: url('https://www.mindarc.com.au/cdn/shop/t/5/assets/mindarc-logo-white.png?v=169087862988360412781587262100'); /* Path to the white logo */
}
