.header {
  background-color: transparent; 
  color: #000; 
  transition: background-color 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  margin-top: 0;
  margin-bottom: 10px;
}

.header-container {
  position: relative; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  /* flex-wrap: wrap; */
}

.header-main {
  align-items: center;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 2rem; 
  justify-content: center;
  padding: 0;
}

.menu-link {
  text-decoration: none;
  color: inherit; 
  font-size: 1em;
  font-weight: 600;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.mega-menu {
  display: none;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100vw;
  padding: 0;
  margin-top: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 8px 16px 16px 8px rgba(0, 0, 0, 0.1);
}

.mega-menu-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.mega-menu-column {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 2%;
  flex: 1;
}

.mega-menu-column h4 {
  font-size: 12px;
  margin-bottom: 20px;
  text-align: left;
}

.mega-menu-column a {
  font-size: 10px;
  text-decoration: none;
  color: #000;
  display: block;
  margin-bottom: 20px;
  text-align: left;
}

.menu-item:hover .mega-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .mega-menu-group .bg-blue {
  background-color: #00ACEF;
} */

.bg-blue {
  background-color: #00ACEF; 
}

.logo-wrapper img {
  height: 55px; 
  width: 55px; 
}

.header-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-us-button .button {
  background-color: #00ACEF; 
  color: white;
  padding: 0.05rem 5rem;
  min-height: 32px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

.phone {
  display: block;
  color: #000;
  text-align: center;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
}

.header .header-container {
  justify-content: space-between; 
}

.header.scrolled .header-contact {
  align-items: center; 
}

.header.scrolled {
  background-color: #000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.header.scrolled .menu-link,
.header.scrolled .phone {
  color: #fff;
}

.header.scrolled .logo-wrapper img {
  content: url('https://www.mindarc.com.au/cdn/shop/t/5/assets/mindarc-logo-white.png?v=169087862988360412781587262100');
}

.menu-item.dropdown.active .mega-menu {
  display: block;
}

.hamburger-menu {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  z-index: 9999;
  top: 30px;
  bottom:20px;
  left: 15px;
  height: 40px;
  width: 55px;
  padding: 1rem;
}

.hamburger-menu .bar {
  height: 5px;
  width: 100%;
  background: #000; 
  margin: 2px 0;
  transition: 0.4s;
}

.header.scrolled .hamburger-menu {
  display: block;
  z-index: 1100;
}

.header.scrolled .hamburger-menu .bar {
  width: 100%;
}

.mobile-menu {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  z-index: 1200;
  padding-top: 60px; 
}

.mobile-menu.open {
  display: block;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
  text-align: left;
}

.mobile-menu li a {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.menu-item-services:after {
  content: '\2192';
  padding-left: 85vw;
}

.mobile-menu li a.menu-item-services:after {
  content: '\2192';
  font-size: 1.5rem;
  padding-left: 75vw;
  font-weight: bold;
}

.mobile-menu .close-button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  padding: 20px;
}

.phone-icon {
  display: none;
  color: #000;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}


@media (max-width: 990px) {

  .header,
  .header.scrolled {
    background-color: #000;
  }

  .hamburger-menu .bar, .header.scrolled .hamburger-menu .bar {
    background-color: #fff;
  }

  .header .logo-wrapper img, .header.scrolled .logo-wrapper img {
    content: url('https://www.mindarc.com.au/cdn/shop/t/5/assets/mindarc-logo-white.png?v=169087862988360412781587262100');
  }

  .phone-icon, .header.scrolled .phone-icon {
    color: #fff;
  }

  .menu {
    display: none;
    flex-direction: column;
  }

  .menu-item {
    width:100%;
  }

  .menu-link {
    display: block;
    width: 100%;
  }

  .menu-item.clicked .mega-menu {
    display: block;
  }

  .mega-menu {
    display: none;
    position: static;
    width: auto;
    box-shadow: none;
  }

  .mega-menu-column,
  .mega-menu-group {
    width: 100%;
    display: block;
    padding: 0;
  }

  .mega-menu-column h4,
  .mega-menu-column a {
    padding: 0.5rem;
  }

  .hamburger-menu {
    display: block;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu.open {
    display: block;
  }

  .menu-item.dropdown.active .mega-menu {
    display: block;
  }

  .contact-us-button,
  .phone {
    display: none;
  }

  .phone-icon {
    display: flex;
  }

  .header.scrolled .phone-icon {
    color: #fff;
  }
  .header .hamburger-menu,
  .header.scrolled .hamburger-menu {
    display: block;
  }

  .header.scrolled .hamburger-menu .bar {
    background-color: #fff;
  }

}