.Approach {
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}
  
.wave-container {
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
}

.full-width {
    margin-left: -50vw;
    left: 50%;
    width: 100vw !important;
    padding: 0 2em;
}

.bgTop {
    z-index: 15;
    opacity: .5;
}

.wave-containerInner {
    overflow: hidden;
    height: 125px;
    position: relative;
}

.wave {
    width: 200%;
    height: 100%;
    left: 0;
    position: absolute;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    animation: floatWave 22s linear infinite;
}

.waveTop {
    background-image: url('https://www.mindarc.com.au/cdn/shop/files/wave.svg?v=1594885916');
    background-color: #555;
    top: 0;
    animation-duration: 2s;
    background-color: transparent;
}

.bgTop {
    z-index: 15;
    opacity: .5;
}

.waveMiddle {
    background-image: url('https://www.mindarc.com.au/cdn/shop/files/wave.svg?v=1594885916');
    background-color: #777;
    top: -30px;
    animation-duration: 3s;
    background-color: transparent;
}

.bgMiddle {
    z-index: 10;
    opacity: .75;
}

.waveBottom {
    background-image: url('https://www.mindarc.com.au/cdn/shop/files/wave.svg?v=1594885916');
    background-color: #999;
    top: -60px;
    animation-duration: 4s;
    background-color: transparent;
}

.bgBottom {
    z-index: 5;
}

@keyframes floatWave {
    0%, 100% { 
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
}

.approach-content {
    background-color: #000;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4rem;
}

.approach-heading {
    text-align: left;
    line-height: 1.7;
    font-size: 2.5rem;
    margin-right: 5rem;
    white-space: pre-line;
}
 
.services {
    display: flex;
    flex: 3;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
    padding-right: 4rem;
}
  
.service {
    text-align: center;
    padding: 1rem;
    max-width: 300px;
}
  
.service h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
}
  
.service p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: left;
}
  
.service-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.service-button:hover {
    background-color: #0056b3;
}

.approach-image {
    width: 100%;
    height: auto; 
    display: block;
    margin-top: 1rem;
}
  