.contact-section {
    background-color: #004e66; 
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 40px 0; 
}
  
.contactContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
  
.contactRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
  
.contactCol {
    flex: 1;
    margin: 20px;
    min-width: 250px; 
}
  
.contactCol-md-4 {
    max-width: 25%; 
}

.contactCol p,
.contactCol h5 {
    text-align: left;
}
.contactCol h5 {
    font-weight: bold;
    font-size: 1rem;
}
  
.font-weight-bold {
    font-size: 1.5rem;
    text-align: left;
    line-height: 2;
}
  
.contactButton, 
.customButton {
    background-color: white; 
    color: black;
    text-decoration: none;
    text-align: left;
    padding: 10px 20px;
    display: block;
    width: 60%;
    margin-top: 20px;
    border: black;
    cursor: pointer;
}
  
.action-arrow::after {
    content: '→';
    padding-left: 5px;
}
  
.contactSocialList {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
  
.contactSocialList li {
    margin-right: 15px; 
}
  
.contactSocialList a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
  
.contactSocialList a:hover {
    color: #00b4d8; 
}
  
 
.faFacebookF, .faInstagram, .faLinkedinIn {
    font-size: 24px; 
    transition: color 0.3s ease;
}
  
.faFacebookF:hover {
    color: #3b5998; 
}
  
.faInstagram:hover {
    color: #e1306c; 
}
  
.faLinkedinIn:hover {
    color: #0077b5; 
}


@media (max-width: 990px) {
    
    .contactCol {
        max-width: 100%; 
        display: block;
        margin: 20px auto;
        padding: 0 15px;
    }

    /* .contactCol-md-4 {
        max-width: 100%;
    } */

    .contactButton, 
    .customButton {
        width: auto;
        padding: 10px;
        margin-top: 10px;
        text-align: center;
    }

    .contactSocialList {
        justify-content: center;
        margin-top: 20px;
    }

    .contactSocialList li {
        margin-right: 10px;
    }

    .contactRow {
        max-width: 100%;
        min-width: 150px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .font-weight-bold {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 20px;
        text-align: center;
    }

    .contactCol h5 {
        text-align: center;
        margin-top: 20px;
    }

    .contactCol h5,
    .contactCol p {
        text-align: center;
        margin-top: 20px;
    }
}